{% extends 'base.html' %}
{% block content %}



<!-- form-section -->
<section class="contact-section" style="padding-top:50px;" id="predict1">
    <div class="container">
        <div class="row justify-content-md-center">

            <div class="title-box centred col-9">
                <div class="sec-title">About</div>
            </div>
            <div class="col-9">
                <p>
                    Web ini buat untuk keperluan tugas kegiatan praktikum Pembelajaran Mesin Modul 6.
                    Sistem ini berfungsi untuk mendeteksi adanya penyakit pneumonia dibekali dengan 
                    Machine Learning menggunakan metode klasifikasi gambar dengan 2 kelas yaitu Normal/Sehat
                    dan Pneumonia.
                </p>
                <p>
                    By : Jody Ririt Krido suseno <br>
                    NIM : 201810370311073
                </p>
            </div>
        </div>
    </div>
</section>
<!-- form-section end -->

{% endblock %}